@font-face {
    font-family:'Alkatra';
    src: url('../fonts/Alkatra-VariableFont.ttf') format('truetype'); 
    font-style: normal;
} 
@font-face {
    font-family:'Alkatra-Bold';
    src: url('../fonts/Alkatra-Bold.ttf') format('truetype'); 
    font-weight: 600;
}