#myCanvas {
    border: black;
    border-style: solid;
    border-width: 20px;
    background-color:cadetblue;
} 

#changedCanvas{
    border:black;
    border-style: solid;
    border-width: 20px;
    background-color:firebrick;
}